/* Add your CSS code below */
.link {
    
    color: red;
    text-decoration: none;
    font-weight: bold;
}
.message__time{
    font-size: 0.9em;
}
.message--unread{
    border-left: 1px blue solid;
}
.message:first-child{
    opacity: 0.4;
}
.message > *{
    line-height: 50px;
}