/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
  
  width: 50px;
  height: 40px;
  margin: 60px;
  padding: 10px;
  border: 1px;
}
.country
{
  background-color: lightgrey;
  width: 300px;
  border: 15px solid blueviolet;
  padding: 20px;
  margin: 30px;
}