/* Add your own CSS code below */
.red{
    color: #c85308;
}
@media screen and (min-width:992px) {
    
        .hero__title{
            font-size: 3em;
        }
    
    
}
@media screen and (min-width:767px) {
    .site-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .items{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .item{
        margin: 5px;
    }
    .views{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .views-list__item{
        margin: 10px;
    }
    .views__all{
        margin-left: auto;
    }
    .main-nav__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contact-form__field>fieldset{
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
    .contact-form__field>fieldset>label{
        margin: 6px;
    }
    .contact-form__field > fieldset > label > input {
        margin: 0 2px 5px 0;
    }
    .site-content{
        display: flex;
        justify-content: center;
    }
    .main-article{
        max-width: 50em;
    }
    .main-article>p{
        line-height: 180%;
    }
}